{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">{{ title }}</h2>

    <div class="row">
        {% for quiz in quizzes %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100 d-flex flex-column">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ quiz.title }}</h5>
                    <p class="card-text">Категорія прав: {{ quiz.get_category_display }}</p>
                    <div class="mt-auto">
                        <button id="quiz-{{ quiz.pk }}-btn" class="auth-btn w-100">Пройти тестування</button>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">Тести не знайдені.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %} 
<script>
    document.querySelectorAll('[id^="quiz-"]').forEach(function (button) {
        button.addEventListener('click', function () {
            const quizId = this.id.split('-')[1];
            const quizUrl = `/get-quiz/${quizId}/`; 
            window.location.href = quizUrl;
        });
    });
</script>
{% endblock %}
