{% extends 'base.html' %}
{% load static %}

{% block title %}
Політика конфіденційності :: {{ block.super }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Політика конфіденційності</h2>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card p-4 mb-5 mt-4 shadow-lg rounded">

                <div class="content">
                    <p><strong>1. Про нас</strong></p>
                    <p>1.1. Ми, команда Сервісу «HappyDriver», дбаємо про ваші персональні дані та робимо все можливе, щоб захистити їх. Ця політика допоможе вам зрозуміти, як ми обробляємо ваші персональні дані, коли ви використовуєте наш Сервіс.</p>

                    <p><strong>2. Які персональні дані ми обробляємо</strong></p>
                    <p>2.1. Сервіс обробляє персональні дані, які ви нам надали, з метою використання Сервісу, зокрема:</p>
                    <p><strong>дані, необхідні для авторизації:</strong>&nbsp;ім'я, прізвище, електронна пошта</p>
                    <p><strong>дані в особистому профілі (акаунті):</strong>&nbsp;ім'я, прізвище, електронна пошта, номер телефону, зображення</p>
                    <p><strong>дані про прогрес навчання:</strong>&nbsp;кількість зданих іспитів, середній рахунок іспиту, кількість пройдених запитань, кількість правильних відповідей, кількість неправильних відповідей, назва групи, категорія</p>
                    <p>2.2. Крім того, ми збираємо додаткові файли. Кожного разу, коли ви користуєтесь нашим Сервісом і виникає помилка, ми збираємо дані та інформацію (через сторонні продукти) з вашого пристрою, що називається LogData. Ці журнальні дані можуть містити таку інформацію:</p>
                    <p>a) IP-адреса вашого пристрою;</p>
                    <p>b) назва пристрою;</p>
                    <p>c) версія операційної системи;</p>
                    <p>d) конфігурація програми під час використання нашого Сервісу;</p>
                    <p>e) час і дата використання Сервісу тощо.</p>
                    <p><strong>3. Мета обробки персональних даних</strong></p>
                    <p>3.1. Ми обробляємо ваші персональні дані для реалізації таких цілей:</p>
                    <p>a) забезпечення роботи Сервісу, його технічної підтримки та покращення;</p>
                    <p>b) обробки ваших запитів та комунікації з вами;</p>
                    <p>c) проведення статистики та аналітики ефективності нашої діяльності;</p>
                    <p>d) запобігання шахрайству та захисту наших законних інтересів.</p>
                    <p><strong>4. Терміни зберігання</strong></p>
                    <p>4.1. Ми зберігаємо ваші дані протягом строки, необхідного для досягнення цілей обробки, але у будь-якому випадку строк обробки (зберігання) персональних даних не перевищує трьох років.</p>
                    <p>4.2. Ви завжди можете скористатися своїм правом на видалення даних. Для цього напишіть нам на електронну пошту. Ми видалимо ваші дані протягом 30 днів після отримання вашого запиту.</p>
                    <p><strong>5. Сторонні сервіси та передача даних третім особам</strong></p>
                    <p>5.1. Ми не передаємо Ваші дані третім особам, крім випадків, передбачених нижче.</p>
                    <p>5.2. Для досягнення цілей, зазначених у цій Політиці, у деяких випадках нам потрібно надати доступ до Ваших персональних даних нашим співробітникам та/або партнерам, зокрема:</p>
                    <p>a) технічним платформам та сервісам, які забезпечують роботу або доступність Сервісу;</p>
                    <p>b) платіжним системам;</p>
                    <p>c) технічним платформам та сервісам, за допомогою яких ми зберігаємо та структуруємо дані;</p>
                    <p>d) викладачам автошколи, в якій навчається Користувач.</p>
                    <p>5.2.1. Ми можемо наймати сторонні компанії та приватних осіб з таких причин:</p>
                    <p>a) для покращення нашого Сервісу;</p>
                    <p>b) надавати послуги або доступ до Сервісу від нашого імені;</p>
                    <p>c) для надання послуг, пов'язаних з Сервісом, або щоб допомогти нам у аналізі використання Сервісу.</p>
                    
                    <p>5.3. Сервіс може містити посилання на інші веб-сайти. Зверніть увагу, що ми не управляємо цими зовнішніми веб-сайтами. Тому ми рекомендуємо ознайомитися з політикою конфіденційності цих веб-сайтів. Ми не контролюємо і не несемо відповідальності за вміст, політику конфіденційності та роботу будь-яких сторонніх веб-сайтів або послуг.</p>
                    <p><strong>6. Права Користувача щодо персональних даних</strong></p>

                    <p>6.1. Ви, як суб'єкт персональних даних, маєте всі права, передбачені ст. 8 Закону України "Про захист персональних даних", зокрема:</p>
                    <p>a) Право на доступ до інформації. Ви можете запитати пояснення щодо обробки Ваших персональних даних.</p>
                    <p>b) Право на портабельність. Ви можете запросити всі дані, які надали нам, а також зробити запит на передачу даних іншому контролеру.</p>
                    <p>c) Право на обмеження обробки. Ви можете частково або повністю заборонити нам обробляти Ваші персональні дані.</p>
                    <p>d) Право на подання скарги. Ви можете подати скаргу до регуляторного органу, визначеного законом.</p>
                    <p>e) Право на видалення даних. Ви можете надіслати нам запит на видалення Ваших персональних даних з наших систем.</p>
                    <p>6.2. Щоб скористатися своїми правами, напишіть нам листа на електронну адресу контакту.</p>
                    <p><strong>7. Вікові обмеження</strong></p>
                    <p>7.1. Зверніть увагу, що ми свідомо не обробляємо персональні дані осіб, які молодші 16 років. Якщо Вам менше 16 років або Ви є законним представником такої особи, будь ласка, повідомте нас про це на електронну адресу.</p>
                    <p><strong>8. Інші умови та контактна інформація</strong></p>
                    <p>8.1. Ми регулярно оновлюємо цю Політику, тому рекомендуємо періодично перевіряти цю сторінку. Ми також повідомимо вас про будь-які зміни, опублікувавши нову версію Політики тут.</p>
                    <p>8.2. Ця Політика набуває чинності з 01.01.2023 року.</p>
                    <p>8.3. Якщо у вас є запитання або пропозиції щодо роботи Сервісу або нашої Політики конфіденційності, напишіть нам на адресу <a href="mailto:happydriver2025@gmail.com">happydriver2025@gmail.com</a>.</p>
                    <p><strong>9. Файли Cookie</strong></p>
                    <p>9.1. Файли cookie - це маленькі текстові файли, які зберігаються у вашому браузері після використання Сервісу.</p>
                    <p>9.2. Файли cookie використовуються для підтримки роботи Сервісу та поліпшення користувацького досвіду.</p>
                    <p>9.3. Файли cookie, які ми використовуємо, можуть містити інформацію про ваші уподобання, щоб зробити наш Сервіс максимально цікавим для вас.</p>
                    <p>9.4. Ми використовуємо різні типи файлів cookie для різних цілей:</p>
                    <ul>
                    <li>access-token - строго необхідний - сесійний - Цей файл cookie використовується для підтримки авторизації користувача.</li>
                    <li>_gat_UA-XXXXXXXX-X - Google Analytics - 1 хвилина - Файл cookie для обмеження кількості запитів у Google Analytics.</li>
                    <li>_dc_gtm_UA-XXXXXXXX-X - Google Analytics - сесійний - Файл cookie диспетчера тегів Google для управління завантаженням тегів скрипту для Google Analytics.</li>
                    <li>__utma - Google Analytics - 24 години - Файл cookie для ідентифікації користувача в Google Analytics.</li>
                    <li>__utmb - Google Analytics - 2 роки - Цей файл cookie використовується в Google Analytics для розрізнення користувачів.</li>
                    <li>__utmc - Google Analytics - 2 роки - Цей файл cookie використовується в Google Analytics для розрізнення користувачів.</li>
                    <li>__utmv - Google Analytics - 2 роки - Цей файл cookie використовується в Google Analytics для розрізнення користувачів.</li>
                    <li>APISID - <a href="https://www.google.com/" rel="nofollow">google.com</a> - 1 рік - Більшу частину інформації, зібраної за допомогою цих служб, використовують для визначення інтересів користувачів Інтернету. На основі цих профілів інтересу компаніям продають рекламні місця. На сторінках, на яких з’являється реклама клієнтів, ці рекламні оголошення узгоджують із вмістом сторінки.</li>
                    <li>SSID - <a href="https://www.google.com/" rel="nofollow">google.com</a> - 1 рік - Більшу частину інформації, зібраної за допомогою цих служб, використовують для визначення інтересів користувачів Інтернету. На основі цих профілів інтересу компаніям продають рекламні місця. На сторінках, на яких з’являється реклама клієнтів, ці рекламні оголошення узгоджують із вмістом сторінки.</li>
                    <li>PREF - <a href="https://www.google.com/" rel="nofollow">google.com</a> - 1 рік - Більшу частину інформації, зібраної за допомогою цих служб, використовують для визначення інтересів користувачів Інтернету. На основі цих профілів інтересу компаніям продають рекламні місця. На сторінках, на яких з’являється реклама клієнтів, ці рекламні оголошення узгоджують із вмістом сторінки. Це звичайний файл cookie, який використовують для більшості служб Google. Зберігає налаштування користувача. Можна використовувати для персоналізації рекламних оголошень під час пошуку в Google.</li>
                    <li>SID, NID - <a href="https://www.google.com/" rel="nofollow">google.com</a> - 1 рік - Google використовує файли cookie, такі як NID і SID, для налаштування індивідуалізованої реклами в продуктах Google, наприклад GoogleSearch. Наприклад, ми використовуємо такі файли cookie для відстеження ваших останніх пошукових запитів, минулих взаємодій з оголошеннями рекламодавця або результатами пошуку, а також ваших відвідувань веб-сайту рекламодавця. Це дає змогу показувати вам індивідуально орієнтовану рекламу в Google. <a href="https://policies.google.com/technologies/types?hl=de" rel="nofollow">Політика конфіденційності Google</a></li>
                    <li>SAPISID - <a href="https://www.google.com/" rel="nofollow">google.com</a> - 1 рік - На деяких сторінках нашого сайту є вбудовані відео Youtube, це сервіс Google. Їх використання передбачає повернення цього файлу cookie на додаток до файлів cookie, які потрібні Google, якщо ви підтримуєте активний сеанс з вашим обліковим записом, щоб переглядати відео, оцінювати пропускну здатність і показувати, скільки разів воно було відтворено</li>
                    <li>HSID - <a href="https://www.google.com/" rel="nofollow">google.com</a> - 1 рік - Google у комбінації з SID використовують для перевірки облікового запису користувача Google і останнього часу входу <a href="https://policies.google.com/technologies/types?hl=de" rel="nofollow">Політика конфіденційності Google</a></li>
                    <li>_fbp - Facebook - Таргетинг та реклама - Сесія - Цей файл cookie допомагає показувати нашу рекламу людям, які вже відвідували наш веб-сайт, у Facebook або на цифровій платформі під управлінням FacebookAdvertising.</li>
                    <li>fr - Facebook - Таргетинг та реклама - 3 місяці - Цей файл cookie пов’язаний із шифрованими ідентифікаційними номерами Facebook і браузера</li>
                    </ul>
                    <p>9.5. Якщо ви бажаєте відключити файли cookie, ви можете зробити це у налаштуваннях вашого мобільного пристрою або знайти інструкції щодо керування налаштуваннями браузера за наступними посиланнями:</p>
                    <p>a)&nbsp;<a href="https://www.google.com/url?q=https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies&amp;sa=D&amp;source=editors&amp;ust=1635497201052000&amp;usg=AOvVaw26wigrkb0MyGogQ5tSn4ZV" rel="nofollow">Internet Explorer</a></p>
                    <p>b)&nbsp;<a href="https://www.google.com/url?q=https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer&amp;sa=D&amp;source=editors&amp;ust=1635497201053000&amp;usg=AOvVaw3m_UFhXZJ6VUEG3-XrrRiB" rel="nofollow">Firefox</a></p>
                    <p>c)&nbsp;<a href="https://www.google.com/url?q=https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/&amp;sa=D&amp;source=editors&amp;ust=1635497201053000&amp;usg=AOvVaw3cIMnRBo91bxrx-pHUfbC4" rel="nofollow">Safari</a></p>
                    <p>d)&nbsp;<a href="https://www.google.com/url?q=https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy&amp;sa=D&amp;source=editors&amp;ust=1635497201054000&amp;usg=AOvVaw2zPxWM20WWymmjTJTDtx_w" rel="nofollow">Microsoft Edge</a></p>
                    <p>e)&nbsp;<a href="https://www.google.com/url?q=https://support.google.com/chrome/answer/95647&amp;sa=D&amp;source=editors&amp;ust=1635497201054000&amp;usg=AOvVaw0lq-IpDEKw3ArZXWqbhxDa" rel="nofollow">Chrome</a></p>
                    <p>f)&nbsp;<a href="https://www.google.com/url?q=https://operaru.ru/faq/cookies-management-in-opera&amp;sa=D&amp;source=editors&amp;ust=1635497201055000&amp;usg=AOvVaw3W6lI4TIa20Ey_Hs4epSFV" rel="nofollow">Opera</a></p>
                    <p><strong>10.&nbsp;</strong><strong><span class="notion-enable-hover" data-token-index="0">Політика розсилок</span></strong></p>
                    <p><span class="notion-enable-hover" data-token-index="0">10.1&nbsp;Ласкаво просимо до розділу розсилок від "Равлик ПДР"! Ми використовуємо email та SMS для того, щоб тримати вас в курсі останніх новин, спеціальних пропозицій та корисних порад з правил дорожнього руху. Ось наші основні принципи:</span></p>
                    <p>- Згода на розсилку</p>
                    <p>Перед надсиланням будь-яких повідомлень ми завжди отримуємо вашу явну згоду. Згоду можна надати під час реєстрації на сайті або підписки на наші оновлення через форму.</p>
                    <p>- Відмова від розсилки</p>
                    <p>Ви можете відмовитись від наших розсилок у будь-який момент. Для цього просто клікніть на посилання "Відписатися" в нижній частині будь-якого email, який ми вам надіслали.</p>
                    <p>- Персоналізація</p>
                    <p>Ми прагнемо робити наші розсилки максимально корисними та цікавими для вас. Використовуючи ваші вказані інтереси та дані, ми налаштовуємо контент, щоб він відповідав саме вашим потребам.</p>
                    <p>- Конфіденційність вашої інформації</p>
                    <p>Ми поважаємо вашу приватність і зобов'язуємося захищати ваші особисті дані. Ми не передаємо ваші дані третім особам без вашої згоди.</p>
                    <p>- Частота розсилок</p>
                    <p>Ми надсилаємо email не частіше одного разу на день і SMS – не частіше одного разу на тиждень. Ми стараємося тримати оптимальний баланс, щоб інформувати вас, не перевантажуючи ваш поштовий ящик.</p>
                    <p>- Відповідність законодавству</p>
                    <p>Наша розсилка відповідає всім чинним законам і нормам щодо захисту даних, зокрема GDPR.</p>
                    <p>Дякуємо, що обрали "HappyDriver" для вашої інформаційної підтримки. Якщо у вас є запитання або пропозиції, будь ласка, звертайтеся до нашої служби підтримки, <a href="mailto:happydriver2025@gmail.com">happydriver2025@gmail.com</a>.</p>
                    </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %} 
{% endblock %}
