{% extends 'base.html' %}

{% block title %}
Список питань :: {{ block.super }}
{% endblock %}

{% block content %}
<div class="container mt-4 d-flex justify-content-center">
    <div class="col-md-12">
        <div class="card p-4 mb-5 mt-4">
            <h2 class="auth-title">Список питань</h2>

    {% if questions %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Текст питання</th>
                    <th>Зображення</th>
                    <th>Пояснення</th>
                    <th>Відповіді</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                <tr data-id="{{ question.id }}">
                    <td>{{ question.text }}</td>
                    <td>
                        {% if question.image %}
                            <img src="{{ question.image.url }}" alt="Зображення" style="max-width: 100px; max-height: 100px; object-fit: cover;">
                        {% endif %}
                    </td>
                    <td>{{ question.explanation|default:"" }}</td>
                    <td>
                        <ol>
                            {% for answer in question.answers.all %}
                            <li>
                                <p class="{% if answer.is_correct %} text-success{% else %} text-danger{% endif %}"
                                 data-id="{{ answer.id }}">
                                    {{answer}}
                                </p>
                            </li>
                            {% endfor %}
                        </ol>
                    </td>
                    <td class="align-items-center">
                        <a href="{% url 'edit_question' question.id %}" class="btn" style="color: orange;"><i class="bi bi-pencil-fill"></i></a>
                        <button class="btn" style="color: red;" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="{{ question.id }}">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Немає доступних питань.</p>
    {% endif %}
</div>
</div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Підтвердження видалення</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Ви впевнені, що хочете видалити це питання?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                <a href="#" id="deleteConfirmBtn" class="btn btn-danger">Видалити</a>
            </div>
        </div>
    </div>
</div>

<script>
    const confirmDeleteModal = document.getElementById('confirmDeleteModal');
    confirmDeleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const questionId = button.getAttribute('data-id');
        const deleteUrl = `{% url 'delete_question' 0 %}`.replace('0', questionId);
        const deleteConfirmBtn = document.getElementById('deleteConfirmBtn');
        deleteConfirmBtn.setAttribute('href', deleteUrl);
    });
</script>

{% endblock %}
